<div class="hero-section">
  <div class="container">
    <h1 class="main-title">LLEGA AL MAYOR NIVEL</h1>
    <button (click)="scrollDown()" class="cta-button">Aprende a boxear</button>
  </div>
</div>

<div class="services">
  <h2 class="section-title3">Clases de boxeo pariculares y en grupo</h2>
  <h2 class="section-title3">Sin contacto, al aire libre y en domicilio</h2>
  <h2 class="section-title3">Preparador titulado por la F.M.B. con 10 años de experiencia</h2>

  <div class="service-cards">
    <div class="card">
      <img routerLink="/home/about"  src="assets/algete.jpg" alt="Asesoría Energética"  class="clickable-image" />
      <h3>Más fuerza</h3>
    </div>
    <div class="card">
      <img routerLink="/home/about"  src="assets/majadahonda.jpg" alt="Eficiencia Energética"  class="clickable-image" />
      <h3>Cualquier edad</h3>
    </div>
    <div class="card">
      <img routerLink="/home/about"  src="assets/paracuello.jpg" alt="Energía Solar"  class="clickable-image" />
      <h3>Amplia experiencia</h3>
    </div>

  </div>
</div>
